{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>

<head>
    <title>Постійні клієнти</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
    </style>
    <script>
        function searchByLastName() {
            var input, filter, table, tr, td, i;
            input = document.getElementById("lastNameInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("clientTable");
            tr = table.getElementsByTagName("tr");

            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
</head>

<body>

    <body id="page-top">
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-primary topbar mb-4 static-top shadow">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <b> Кабінет касира </b>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('my_checks') }}">
                                Мої чеки
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Клієнти
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('all_products')}}">
                                Продукти
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('search_product_by_name')}}">
                                Пошук за назвою
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('all_products_store')}}">
                                Наявність
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('cashier_cabinet')}}">
                                Головна
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/logout">
                                Вийти
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <!-- Sidebar -->
                    <div class="col-md-2">
                        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

                            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
                                <div class="sidebar-brand-icon rotate-n-15">
                                    <i class="fas fa-laugh-wink"></i>
                                </div>
                                <div class="sidebar-brand-text mx-3">Zlagoda</div>
                            </a>

                            <!-- Divider -->
                            <hr class="sidebar-divider my-0">



                            <!-- Divider  -->
                            <hr class="sidebar-divider">

                            <!-- Heading -->
                            <div class="sidebar-heading">
                                Мій профіль
                            </div>
                            <div>
                                <li class="nav-item">
                                    <a class="nav-link" style="font-size: 12px;" href="#">
                                        ID працівника: {{ data[0] }}
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" style="font-size: 12px;" href="#">
                                        Прізвище: {{ data[1] }}
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" style="font-size: 12px;" href="#">
                                        Ім'я: {{ data[2] }}
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" style="font-size: 12px;" href="#">
                                        По батькові: {{ data[3] }}
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" style="font-size: 12px;" href="#">
                                        Посада: {{ data[4] }}
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" style="font-size: 12px;" href="#">
                                        Заробітна плата: {{ data[5] }}
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" style="font-size: 12px;" href="#">
                                        Дата народження: {{ data[6] }}
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" style="font-size: 12px;" href="#">
                                        Початок роботи: {{ data[7] }}
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" style="font-size: 12px;" href="#">
                                        Тел.номер: {{ data[8] }}
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" style="font-size: 12px;" href="#">
                                        Місто: {{ data[9] }}
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" style="font-size: 12px;" href="#">
                                        Вулиця: {{ data[10] }}
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" style="font-size: 12px;" href="#">
                                        Поштовий індекс: {{ data[11] }}
                                    </a>
                                </li>

                            </div>


                            <hr class="sidebar-divider d-none d-md-block">
                        </ul>
                    </div>
                    <div class="col-md-10">
                        <div class="container-fluid">

                            <div style="display: flex; align-items: center; width: 50%;">
                                <label for="lastNameInput">Пошук за прізвищем:</label>
                                <input type="text" id="lastNameInput" class="form-control bg-light small"
                                    placeholder="Введіть прізвище">
                                <button href="#" class="btn btn-success btn-icon-split small" value="Шукати"
                                    onclick="searchByLastName()">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-flag"></i>
                                    </span>
                                    <span class="text">Шукати</span>
                                </button>
                            </div>

                            <a href="{{url_for('add_customer_card')}}" class="btn btn-warning btn-icon-split">
                                <span class="icon text-white-50">
                                    <i class="fas fa-flag"></i>
                                </span>
                                <span class="text">Додати клієнта</span>
                            </a>

                            <a href="{{url_for('update_customer_card')}}" class="btn btn-warning btn-icon-split">
                                <span class="icon text-white-50">
                                    <i class="fas fa-flag"></i>
                                </span>
                                <span class="text">Оновити клієнта</span>
                            </a>

                            <table class="table table-bordered" id="clientTable">
                                <thead>
                                    <tr>
                                        <th>Card Number</th>
                                        <th>Last Name</th>
                                        <th>First Name</th>
                                        <th>Patronymic</th>
                                        <th>Phone Number</th>
                                        <th>City</th>
                                        <th>Street</th>
                                        <th>ZIP Code</th>
                                        <th>Discount Percent</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for client in clients %}
                                    <tr>
                                        <td>{{ client[0] }}</td>
                                        <td>{{ client[1] }}</td>
                                        <td>{{ client[2] }}</td>
                                        <td>{{ client[3] }}</td>
                                        <td>{{ client[4] }}</td>
                                        <td>{{ client[5] }}</td>
                                        <td>{{ client[6] }}</td>
                                        <td>{{ client[7] }}</td>
                                        <td>{{ client[8] }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
                <br>


    </body>

</html>
{% endblock %}