<!DOCTYPE html>
<html>

<head>
    <title>Мій профіль</title>
</head>

<body>
    <h1>Мій профіль</h1>
    <p>ID працівника: {{ data[0] }}</p>
    <p>Прізвище: {{ data[1] }}</p>
    <p>Ім'я: {{ data[2] }}</p>
    <p>По батькові: {{ data[3] }}</p>
    <p>Посада: {{ data[4] }}</p>
    <p>Заробітна плата: {{ data[5] }}</p>
    <p>Дата народження: {{ data[6] }}</p>
    <p>Дата прийому на роботу: {{ data[7] }}</p>
    <p>Телефонний номер: {{ data[8] }}</p>
    <p>Місто: {{ data[9] }}</p>
    <p>Вулиця: {{ data[10] }}</p>
    <p>Поштовий індекс: {{ data[11] }}</p>
    <a href="{{ url_for('home') }}">Додому</a>
    <a href="{{ url_for('cashier_cabinet') }}">Назад</a>
</body>

</html>