<!DOCTYPE html>
<html>
<head>
    <title>Додати товар у магазин</title>
</head>
<body>
    <h1>Додати товар у магазин</h1>
    <form method="POST" action="{{ url_for('add_product_store') }}">
        <div>
            <label for="UPC">UPC:</label>
            <input type="text" id="UPC" name="UPC">
        </div>
        <div>
            <label for="UPC_prom">UPC промо-товару:</label>
            <input type="text" id="UPC_prom" name="UPC_prom">
        </div>
        <div>
            <label for="id_product">ID товару:</label>
            <input type="text" id="id_product" name="id_product">
        </div>
        <div>
            <label for="selling_price">Ціна продажу:</label>
            <input type="text" id="selling_price" name="selling_price">
        </div>
        <div>
            <label for="products_number">Кількість товару:</label>
            <input type="text" id="products_number" name="products_number">
        </div>
        <div>
            <label for="promotional_product">Промо-товар:</label>
            <input type="text" id="promotional_product" name="promotional_product">
        </div>
        <div>
            <input type="submit" value="Зберегти">
        </div>
    </form>
    <a href="{{ url_for('go_product_store') }}">Назад</a>
    <a href="{{ url_for('home') }}">Додому</a>
</body>
</html>
