{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>

<head>
    <style>
        .my-form table {
            width: 100%;
        }

        .my-form td {
            padding: 5px;
        }
    </style>
    <title>Оновити товар у магазині</title>
</head>

<body>
    <h1>Оновити товар у магазині</h1>
    <form class="my-form" method="POST" action="{{ url_for('update_product_store') }}">
        <table>
            <tr>
                <td>
                    <label for="UPC">UPC:</label>
                </td>
                <td>
                    <select name="UPC">
                        {% for option in options %}
                        <option value="{{ option }}">{{ option }}</option>
                        {% endfor %}
                    </select>
                </td>

                <td>
                    <label for="UPC_prom">UPC промо-товару:</label>
                </td>
                <td>
                    <input type="text" id="UPC_prom" name="UPC_prom" maxlength="12">
                </td>

                <td>
                    <label for="id_product">ID товару:</label>
                </td>
                <td>
                    <input type="text" id="id_product" name="id_product" required>
                </td>
            </tr>


            <tr>
                <td>
                    <label for="selling_price">Ціна продажу:</label>
                </td>
                <td>
                    <input type="text" id="selling_price" name="selling_price" maxlength="13" pattern="\d+(\.\d{1,2})?">
                </td>

                <td>
                    <label for="products_number">Кількість товару:</label>
                </td>
                <td>
                    <input type="text" id="products_number" name="products_number" required>
                </td>

                <td>
                    <label for="promotional_product">Промо-товар:</label>
                </td>
                <td>
                    <input type="text" id="promotional_product" name="promotional_product" required>
                </td>
            </tr>
        </table>
        <div>
            <button type="submit" value="Зберегти">Оновити</button>
        </div>
    </form>
    <a href="{{ url_for('go_product_store') }}" class="btn btn-primary btn-icon-split">
        <span class="icon text-white-50">
            <i class="fas fa-flag"></i>
        </span>
        <span class="text">Назад</span>
    </a>

    <script>
        window.onload = function () {
            var form = document.querySelector('.my-form');
            var upcPromInput = document.getElementById('UPC_prom');
            var idProductInput = document.getElementById('id_product');
            var sellingPriceInput = document.getElementById('selling_price');
            var productsNumberInput = document.getElementById('products_number');
            var promotionalProductInput = document.getElementById('promotional_product');

            form.addEventListener('submit', function (event) {
                if (upcPromInput.value.length > 12) {
                    event.preventDefault();
                    alert('UPC промо-товару має бути рядком до 12 символів.');
                }

                if (idProductInput.value === '') {
                    event.preventDefault();
                    alert('ID товару є обов\'язковим полем.');
                }

                if (sellingPriceInput.value === '' || sellingPriceInput.value.length > 13 || !/^\d+(\.\d{1,2})?$/.test(sellingPriceInput.value)) {
                    event.preventDefault();
                    alert('Ціна продажу має бути числом до 13 символів (до крапки) та до 2 десяткових знаків.');
                }

                if (productsNumberInput.value === '') {
                    event.preventDefault();
                    alert('Кількість товару є обов\'язковим полем.');
                }

                if (promotionalProductInput.value === '') {
                    event.preventDefault();
                    alert('Промо-товар є обов\'язковим полем.');
                }
            });
        };
    </script>
</body>

</html>
{% endblock %}