<!DOCTYPE html>
<html>
<head>
    <title>Звіт про товари в магазині</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
    </style>
</head>
<body>
    <h1>Звіт про товари в магазині</h1>
    <table>
        <thead>
            <tr>
                <th>UPC</th>
                <th>UPC_prom</th>
                <th>ID товару</th>
                <th>Ціна продажу</th>
                <th>Кількість товару</th>
                <th>Акційний товар</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product[0] }}</td>
                <td>{{ product[1] }}</td>
                <td>{{ product[2] }}</td>
                <td>{{ product[3] }}</td>
                <td>{{ product[4] }}</td>
                <td>{{ product[5] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{{ url_for('manager_cabinet') }}">Назад</a>
    <a href="{{ url_for('home') }}">Додому</a>
</body>
</html>
