<!DOCTYPE html>
<html>
<head>
    <title>Звіт про категорії</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Звіт про категорії</h1>
    <table>
        <tr>
            <th>Номер категорії</th>
            <th>Назва категорії</th>
        </tr>
        {% for category in categories %}
        <tr>
            <td>{{ category[0] }}</td>
            <td>{{ category[1] }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="{{ url_for('manager_cabinet') }}">Назад</a>
    <a href="{{ url_for('home') }}">Додому</a>
</body>
</html>
