<!DOCTYPE html>
<html>
<head>
    <title>Звіт про чеки</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
    </style>
</head>
<body>
    <h1>Звіт про чеки</h1>
    <form method="POST" action="/check_by_id">
        <label for="cashier_id">ID касира:</label>
        <input type="text" name="cashier_id" id="cashier_id" pattern=".*" >
        <br>
        <label for="product_name">Товар, продана кількість якого цікавить:</label>
        <input type="text" name="product_name" id="product_name">
        <br>
        <label for="start_date">Початкова дата:</label>
        <input type="date" name="start_date" id="start_date" required>
        <br>
        <label for="end_date">Кінцева дата:</label>
        <input type="date" name="end_date" id="end_date" required>
        <br>
        <button type="submit">Отримати інформацію</button>
    </form>
    <br>
    <table>
        <thead>
            <tr>
                <th>Номер чеку</th>
                <th>ID працівника</th>
                <th>Номер картки</th>
                <th>Дата друку</th>
                <th>Загальна сума</th>
                <th>ПДВ</th>
            </tr>
        </thead>
        <tbody>
            {% for check in checks %}
            <tr>
                <td>{{ check[0] }}</td>
                <td>{{ check[1] }}</td>
                <td>{{ check[2] }}</td>
                <td>{{ check[3] }}</td>
                <td>{{ check[4] }}</td>
                <td>{{ check[5] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{{ url_for('home') }}">Додому</a>
    <a href="{{ url_for('manager_cabinet') }}">Назад</a>
</body>
</html>
