<!DOCTYPE html>
<html>
<head>
    <title>Видалити категорію</title>
</head>
<body>
    <h1>Видалити категорію</h1>
    <form method="POST" action="{{ url_for('delete_category') }}">
        <div>
            <label for="category_number">Номер категорії:</label>
            <input type="text" id="category_number" name="category_number">
        </div>
        <div>
            <input type="submit" value="Видалити">
        </div>
    </form>
    <a href="{{url_for('go_category')}}">Назад</a>
    <a href="{{ url_for('home') }}">Додому</a>
</body>
</html>
