{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Додати категорію</title>
</head>
<body>
    <h1>Додати категорію</h1>
    <form  class = "my-form" method="POST" action="{{ url_for('add_category') }}">
        <div>
            <label for="category_name">Назва категорії:</label>
            <input type="text" id="category_name" name="category_name">
        </div>
        <div>
            <input type="submit" value="Зберегти">
        </div>
    </form>
    <br>
    <a href="{{ url_for('go_category') }}" class="btn btn-primary btn-icon-split">
        <span class="icon text-white-50">
            <i class="fas fa-flag"></i>
        </span>
        <span class="text">Назад</span>
    </a>
</body>
</html>
{% endblock %}