<!DOCTYPE html>
<html>
<head>
    <title>Query Result</title>
</head>
<body>
    <h1>Знайти категорії продуктів, у яких всі продукти коштують більше заданої суми</h1>
    <form action="/Category/gryn_2" method="post">
        <label for="parameter">Enter Price Threshold:</label>
        <input type="number" step="0.01" name="parameter" id="parameter" required>
        <button type="submit">Submit</button>
    </form>

    {% if data %}
        <table>
            <thead>
                <tr>
                    <th>Category Number</th>
                    <th>Category Name</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% elif submitted %}
        <p>No categories found for the given price threshold.</p>
    {% endif %}
    <a href="{{url_for('go_category')}}">Назад</a>
    <a href="{{ url_for('home') }}">Додому</a>
</body>
</html>
