<!DOCTYPE html>
<html>
<head>
    <title>Товари за назвою</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
    </style>
    <script>
        function sortTable() {
            var table, rows, switching, i, x, y, shouldSwitch;
            table = document.getElementById("productTable");
            switching = true;
            while (switching) {
                switching = false;
                rows = table.rows;
                for (i = 1; i < (rows.length - 1); i++) {
                    shouldSwitch = false;
                    x = rows[i].getElementsByTagName("td")[7];
                    y = rows[i + 1].getElementsByTagName("td")[7];
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                }
                if (shouldSwitch) {
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                }
            }
        }

        function filterByCategory() {
            var input, filter, table, tr, td, i;
            input = document.getElementById("categoryInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("productTable");
            tr = table.getElementsByTagName("tr");

            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[6];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
</head>
<body>
    <h1>Товари за назвою</h1>
    <form method="post" action="{{ url_for('search_product_by_name') }}">
        <label for="categoryInput">Пошук за назвою:</label>
        <input type="text" name="product_name" placeholder="Введіть назву товару">
        <button type="submit">Пошук</button>
    </form>
    <label for="categoryInput">Пошук за категорією:</label>
    <input type="text" id="categoryInput" placeholder="Введіть категорію">
    <button onclick="filterByCategory()">Пошук</button>
    <br>
    <button onclick="sortTable()">Сортувати за назвою</button>

    <table id="productTable">
        <thead>
            <tr>
                <th>UPC</th>
                <th>UPC_prom</th>
                <th>ID</th>
                <th>Ціна продажу</th>
                <th>Кількість товарів</th>
                <th>Акційний товар</th>
                <th>Номер категорії</th>
                <th>Назва товару</th>
                <th>Характеристики</th>
            </tr>
        </thead>
        <tbody>
            {% for p in product %}
            <tr>
                <td>{{ p[0] }}</td>
                <td>{{ p[1] }}</td>
                <td>{{ p[2] }}</td>
                <td>{{ p[3] }}</td>
                <td>{{ p[4] }}</td>
                <td>{{ p[5] }}</td>
                <td>{{ p[6] }}</td>
                <td>{{ p[7] }}</td>
                <td>{{ p[8] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('home') }}">Додому</a>
    <a href="{{ url_for('cashier_cabinet') }}">Назад</a>
</body>
</html>
