<!DOCTYPE html>
<html>
<head>
    <title>Додати нового працівника ауау</title>
</head>
<body>
    <h1>Додати нового працівника</h1>
    <form method="POST" action="{{ url_for('add_empl') }}">
        <div>
            <label for="id_employee">ID працівника:</label>
            <input type="text" id="id_employee" name="id_employee">
        </div>
        <div>
            <label for="empl_surname">Прізвище:</label>
            <input type="text" id="empl_surname" name="empl_surname">
        </div>
        <div>
            <label for="empl_name">Ім'я:</label>
            <input type="text" id="empl_name" name="empl_name">
        </div>
        <div>
            <label for="empl_patronymic">По-батькові:</label>
            <input type="text" id="empl_patronymic" name="empl_patronymic">
        </div>
        <div>
            <label for="empl_role">Посада:</label>
            <input type="text" id="empl_role" name="empl_role">
        </div>
        <div>
            <label for="salary">Заробітна плата:</label>
            <input type="text" id="salary" name="salary">
        </div>
        <div>
            <label for="date_of_birth">Дата народження:</label>
            <input type="text" id="date_of_birth" name="date_of_birth">
        </div>
        <div>
            <label for="date_of_start">Дата початку:</label>
            <input type="text" id="date_of_start" name="date_of_start">
        </div>
        <div>
            <label for="phone_number">Номер телефону:</label>
            <input type="text" id="phone_number" name="phone_number">
        </div>
        <div>
            <label for="city">Місто:</label>
            <input type="text" id="city" name="city">
        </div>
        <div>
            <label for="street">Вулиця:</label>
            <input type="text" id="street" name="street">
        </div>
        <div>
            <label for="zip_code">Поштовий індекс:</label>
            <input type="text" id="zip_code" name="zip_code">
        </div>
        <div>
            <input type="submit" value="Зберегти">
        </div>
    </form>
    <a href="{{ url_for('manager_cabinet') }}">Назад</a>
    <a href="{{ url_for('home') }}">Додому</a>

</body>
</html>
