{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>

<head>
    <title>Видалити чек</title>
</head>

<body>
    <h1>Видалити чек</h1>
    <form class="my-form" method="POST" action="{{ url_for('delete_check_store') }}">
        <div>
            <label for="check_number">Номер чеку:</label>
            <select name="check_number">
                {% for option in options %}
                <option value="{{ option }}">{{ option }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <button type="submit" value="Зберегти">Видалити</button>
        </div>
    </form>

</body>

</html>
{% endblock %}