<!DOCTYPE html>
<html>
<head>
    <title>Видалити чек</title>
</head>
<body>
    <h1>Видалити чек</h1>
    <form method="POST" action="{{ url_for('delete_check_store') }}">
        <div>
            <label for="check_number">Номер чеку:</label>
            <select name="check_number">
                {% for option in options %}
                <option value="{{ option }}">{{ option }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <input type="submit" value="Видалити">
        </div>
    </form>
    <a href="{{ url_for('go_check') }}">Назад</a>
    <a href="{{ url_for('home') }}">Додому</a>
</body>
</html>
