<!DOCTYPE html>
<html>
<head>
    <title>Видалити постійного клієнта</title>
</head>
<body>
    <h1>Видалити постійного клієнта</h1>
    <form method="POST" action="{{ url_for('delete_customer_card') }}">
        <div>
            <label for="card_number">Номер карти:</label>
            <input type="text" id="card_number" name="card_number">
        </div>
        <div>
            <input type="submit" value="Видалити">
        </div>
    </form>
    <a href="{{ url_for('go_customers') }}">Назад</a>
    <a href="{{ url_for('home') }}">Додому</a>
</body>
</html>
