{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>

<head>
    <title>Пошук за прізвищем</title>
</head>

<body>


    <h1>Пошук за прізвищем</h1>
    <form class="my-form1" action="{{ url_for('search_by_surname') }}" method="POST">
        <label for="surname">Прізвище:</label>
        <input type="text" id="surname" name="surname">
        <button type="submit">Пошук</button>
    </form>
    <h2>Результат:</h2>
    <table>
        <thead>
            <tr>
                <th>Телефон</th>
                <th>Адреса</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ phone }}</td>
                <td>{{ address }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ url_for('manager_cabinet') }}" class="btn btn-primary btn-icon-split">
        <span class="icon text-white-50">
            <i class="fas fa-flag"></i>
        </span>
        <span class="text">Назад</span>
    </a>
</body>

</html>
{% endblock %}