{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
  <title>Оновлення даних про співробітника</title>
  <style>
  .my-form table {
    width: 100%;
}

.my-form td {
    padding: 5px;
}
</style>
</head>
<body>
  <h1>Оновлення даних про співробітника</h1>

  {% if error %}
    <p style="color: red;">{{ error }}</p>
  {% endif %}

  
  <form class="my-form" method="POST" action="{{ url_for('update_employee') }}">
    <table>
        <tr>
            <td>
                <label for="id_employee">ID працівника:</label>
            </td>
            <td>
                <input type="text" id="id_employee" name="id_employee" required>
            </td>
            <td>
                <label for="empl_surname">Прізвище:</label>
            </td>
            <td>
                <input type="text" id="empl_surname" name="empl_surname" required>
            </td>
            <td>
                <label for="empl_name">Ім'я:</label>
            </td>
            <td>
                <input type="text" id="empl_name" name="empl_name" required>
            </td>
        </tr>
        <tr>
            <td>
                <label for="empl_patronymic">По-батькові:</label>
            </td>
            <td>
                <input type="text" id="empl_patronymic" name="empl_patronymic">
            </td>
            <td>
                <label for="empl_role">Посада:</label>
            </td>
            <td>
                <input type="text" id="empl_role" name="empl_role" required>
            </td>
            <td>
                <label for="salary">Заробітна плата:</label>
            </td>
            <td>
                <input type="number" min = "0" id="salary" name="salary" required>
            </td>
        </tr>
        <tr>
            <td>
                <label for="date_of_birth">Дата народження:</label>
            </td>
            <td>
                <input type="text" id="date_of_birth" name="date_of_birth" pattern="\d{4}-\d{2}-\d{2}"
                title = "Введіть дату у форматі YYYY-MM-DD" required>
            </td>
            <td>
                <label for="date_of_start">Дата початку:</label>
            </td>
            <td>
                <input type="text" id="date_of_start" name="date_of_start" pattern="\d{4}-\d{2}-\d{2}"
                title = "Введіть дату у форматі YYYY-MM-DD" required>
            </td>
            <td>
                <label for="phone_number">Номер телефону:</label>
            </td>
            <td>
                <input type="text" id="phone_number" name="phone_number"  pattern="[+\d]{0,13}" title="Максимально 13 знаків" required>
            </td>
        </tr>
        <tr>
            <td>
                <label for="city">Місто:</label>
            </td>
            <td>
                <input type="text" id="city" name="city" required>
            </td>
            <td>
                <label for="street">Вулиця:</label>
            </td>
            <td>
                <input type="text" id="street" name="street" required>
            </td>
            <td>
                <label for="zip_code">Поштовий індекс:</label>
            </td>
            <td>
                <input type="text" id="zip_code" name="zip_code" pattern = "\d{0,9}" title="Максимально 9 знаків" required>
            </td>
        </tr>
        <tr>
            <td colspan="6">
                <button type="submit" value="Оновити">Оновити</button>
            </td>
        </tr>
    </table>
</form>
<br>
<a href="{{ url_for('manager_cabinet') }}" class="btn btn-primary btn-icon-split">
  <span class="icon text-white-50">
      <i class="fas fa-flag"></i>
  </span>
  <span class="text">Назад</span>
</a>
</body>
{% endblock %}
</html>
