{% extends 'base.html' %}
<!DOCTYPE html>
<html>
<head>
    <title>Кабінет касира</title>
</head>
<body>
    {% block content %}
    <h1>Кабінет касира</h1>
    <ul>

        <!-- Окремо товари, окремо наявність, постійні клієнти і мій профіль. Додати чек - на початку з + -->
        <li><a href="{{ url_for('all_products') }}">Всі товари</a></li>
        <li><a href="{{ url_for('all_products_store') }}">Всі товари в магазині</a></li>
        <li><a href="{{ url_for('all_clients') }}">Всі постійні клієнти</a></li>
        <li><a href="{{ url_for('search_product_by_name') }}">Пошук товару по назві</a></li>
        <li><a href="{{ url_for('add_checkk') }}">Додати новий чек</a></li>
        <li><a href="{{ url_for('add_customer_card') }}">Додати нового постійного клієнта</a></li>
        <li><a href="{{ url_for('update_customer_card') }}">Оновити дані про постійного клієнта</a></li>
        <li><a href="{{ url_for('my_checks') }}">Мої чеки</a></li>
        <li><a href="{{ url_for('report_products_store') }}">Звіт по товарам в магазині</a></li>
        <li><a href="{{ url_for('me') }}">Дані про мене</a></li>
        <br>
        <a href="{{ url_for('logout') }}">Вийти</a>
    </ul>
    {% endblock %}
</body>
</html>
