{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>

<head>
    <title>Table Data</title>
</head>

<body>
    <h1 class="h3 mb-4 text-gray-800">Отримати інформацію про всіх постійних клієнтів, які придбали акційного товару
        більше, ніж на певну суму грошей. </h1>



    <form class="my-form" method="POST">
        <div style="display: flex; align-items: normal; width :30%;">
            <label for="amount">Сума:</label>
            <input type="number" id="amount" class="form-control bg-light small" , name="amount" required>
            <button type="submit" value="Filter">Зберегти</button>
        </div>
    </form>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Customer Name</th>
                <th>Customer Surname</th>
                <th>Total Price of Promotional Products</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{{ url_for('go_customers') }}" class="btn btn-primary btn-icon-split">
        <span class="icon text-white-50">
            <i class="fas fa-flag"></i>
        </span>
        <span class="text">Назад</span>
    </a>
</body>

</html>
{% endblock %}