{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>

<head>
    <title>Оновлення даних про картку клієнта</title>
    <script>
        window.onload = function () {
            var form = document.querySelector('.my-form');
            var custSurnameInput = document.getElementById('cust_surname');
            var custNameInput = document.getElementById('cust_name');
            var phoneInput = document.getElementById('phone_number');
            var percentInput = document.getElementById('percent');

            form.addEventListener('submit', function (event) {
                if (custSurnameInput.value.length > 50 || custSurnameInput.value.length === 0) {
                    event.preventDefault();
                    alert("Прізвище має бути до 50 символів і не може бути порожнім.");
                }

                if (custNameInput.value.length > 50 || custNameInput.value.length === 0) {
                    event.preventDefault();
                    alert("Ім'я має бути до 50 символів і не може бути порожнім.");
                }

                if (phoneInput.value.length > 13 || phoneInput.value.length === 0) {
                    event.preventDefault();
                    alert('Номер телефону має бути до 13 символів і не може бути порожнім.');
                }

                if (percentInput.value === '' || isNaN(parseFloat(percentInput.value))) {
                    event.preventDefault();
                    alert('Відсоток має бути числом і не може бути порожнім.');
                }
            });
        };
    </script>
</head>

<body>
    <h1>Оновлення даних про клієнта постійного</h1>

    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}

    <form class="my-form" method="POST" action="{{ url_for('update_customer_card') }}">
        <table>
            <tr>
                <td>
                    <label for="card_number">Номер картки:</label>
                </td>
                <td>
                    <select name="card_number">
                        {% for option in options %}
                        <option value="{{ option }}">{{ option }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <label for="cust_surname">Прізвище:</label>
                </td>
                <td>
                    <input type="text" id="cust_surname" name="cust_surname" required>
                </td>
                <td>
                    <label for="cust_name">Ім'я:</label>
                </td>
                <td>
                    <input type="text" id="cust_name" name="cust_name" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="cust_patronymic">По-батькові:</label>
                </td>
                <td>
                    <input type="text" id="cust_patronymic" name="cust_patronymic">
                </td>
                <td>
                    <label for="phone_number">Номер телефону:</label>
                </td>
                <td>
                    <input type="text" id="phone_number" name="phone_number" pattern="[+\d]{0,13}"
                        title="Максимально 13 знаків" required>
                </td>
                <td>
                    <label for="city">Місто:</label>
                </td>
                <td>
                    <input type="text" id="city" name="city" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="street">Вулиця:</label>
                </td>
                <td>
                    <input type="text" id="street" name="street" required>
                </td>
                <td>
                    <label for="zip_code">Поштовий індекс:</label>
                </td>
                <td>
                    <input type="text" id="zip_code" name="zip_code" required>
                </td>
                <td>
                    <label for="percent">Відсоток:</label>
                </td>
                <td>
                    <input type="number" id="percent" name="percent" step="any" required>
                </td>
            </tr>
        </table>
        <div>
            <button type="submit" value="Оновити">Оновити</button>
        </div>
    </form>

    {% if role == 1 %}
    <a href="{{ url_for('go_customers') }}" class="btn btn-primary btn-icon-split">
        <span class="icon text-white-50">
            <i class="fas fa-flag"></i>
        </span>
        <span class="text">Назад</span>
    </a>
    {% endif %}

    {% if role == 0 %}
    <a href="{{ url_for('all_clients') }}" class="btn btn-primary btn-icon-split">
        <span class="icon text-white-50">
            <i class="fas fa-flag"></i>
        </span>
        <span class="text">Назад</span>
    </a>
    {% endif %}
</body>

</html>
{% endblock %}